# Task 1

### 1) Write a program to get the data type of a data

In [1]:
a=10.2
type(a)

float

### 2) Write a program to convert a integer data type to float data type

In [2]:
num=10
num

10

### 3) Write a program to convert a integer data type to float data type and vice versa

In [3]:
a=20
a

20

In [4]:
k=float(a)
k

20.0

### 4) Write a programme to get the actual location of the data

In [5]:
a=10
a

10

In [6]:
id(a)

2310852274768

### 5) Give an example of implict conversion and explict conversion

In [ ]:
#implicit

In [8]:
s=1
r=1.1
z=1
s+z

2

### 6) Write a programme to prove that python is a case senstive language

In [9]:
VAR1=20
var1

NameError: name 'var1' is not defined

### 7) Write a programme to get a syntax error

In [10]:
2/
+/
2

SyntaxError: invalid syntax (1356092111.py, line 1)

### 8) Write a programme to get a type error

In [11]:
l="1+2j"
l

'1+2j'

In [12]:
n=float(l)
n

ValueError: could not convert string to float: '1+2j'

### 9) Give an example of mulitple statement in a single line

In [13]:
print(4*5);print(2*5);print(8*5)

20
10
40

### 10) Give an example of single line statement in multiple line

In [14]:
2\
*10\
+2\
*10\
+2

42

In [15]:
marks=int(input("enter the marks:"))
if marks>90:
    print("A grade")
elif marks>80 and marks<=90:
    print("B grade")
elif marks>=60 and marks<=80:
    print("C grade")
elif marks<=60:
    print("D grade")

enter the marks:85
B grade

In [16]:
x=int(input("enter the price of the bike"))
if x>100000:
    print(x*15/100)
elif x>50000 and x<=100000:
    print(x*10/100)
elif x<50000:
    print(x*5/100)

enter the price of the bike60000
6000.0

In [17]:
x=int(input("enter your age"))
if x>=18:
    print("your are eligible for vote")
else:
    print("you are not eligible")

enter your age26
your are eligible for vote

In [18]:
x=int(input("enter the number"))
if x%2==0:
    print("the number is even")
else:
    print("the number is odd")

enter the number45
the number is odd

In [19]:
x=int(input("enter the number"))
if x%7==0:
    print("it is divisible")
else:
    print("it is not divisible")

enter the number45
it is not divisible

In [20]:
num=int(input("enter the number of units"))
if num<=100:
    print("no charge")
elif num>=100 and num<=200:
    print(num-100)*5
elif num>200:
    print(500+(num-200)*10)

enter the number of units350
2000